  version: "3.9"
  services:
    db:
      image: postgres:15
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      volumes:
        - db-data:/var/lib/postgresql/data
      ports:
        - "5433:5432"
    app:
      image: rubyapp
      build:
        context: .
        dockerfile: ./Dockerfile
      depends_on:
        - db
      env_file:
        - .env
      ports:
        - 3000:3000

  volumes:
    db-data: