version: "3.9"
services:
  db:
    image: postgres:15
    container_name: tiae_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ${POSTGRES_VOLUME_PATH:-db-data}:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: unless-stopped

  app:
    image: skyvlados/tiae:latest
    container_name: tiae_app
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped

  # ==========================================
  # guardsman — опциональный сервис (нужен для прода)
  # Чтобы запустить его, используй:
  #   docker compose --profile guardsman up -d
  # или:
  #   COMPOSE_PROFILES=guardsman docker compose up -d
  # ==========================================
  guardsman:
    image: eugeneyak/guardsman
    profiles: ["guardsman"]
    environment:
      HOST: ${HOST}
      DOMAIN: ${DOMAIN_SERVER}
      TG_BOT_NAME: ${TG_BOT_NAME}
      TG_TOKEN: ${TG_TOKEN}
    ports:
      - 3001:3000
    restart: unless-stopped

  # ==========================================
  # prometheus — опциональный сервис (метрики для прода)
  # Чтобы запустить его, используй:
  #   docker compose --profile prometheus up -d
  # или:
  #   COMPOSE_PROFILES=prometheus docker compose up -d
  # ==========================================
  prometheus-agent:
    image: prom/prometheus:latest
    profiles: [ "prometheus" ]
    container_name: tiae_prometheus_agent
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./secrets/prometheus:/etc/prometheus/secrets:ro
    depends_on:
      - app
    restart: unless-stopped

volumes:
  db-data:
