version: "3.9"
services:
  db:
    image: postgres:15
    container_name: tiae_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ${POSTGRES_VOLUME_PATH:-db-data}:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: unless-stopped

  app:
    image: skyvlados/tiae:latest
    container_name: tiae_app
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped

  # ==========================================
  # guardsman, prometheus — опциональные сервисы (нужны для прода)
  # Чтобы запустить их, пример:
  #   docker compose --profile guardsman up -d
  # или:
  #   COMPOSE_PROFILES=guardsman docker compose up -d
  # ==========================================
  guardsman:
    image: eugeneyak/guardsman
    profiles: ["guardsman"]
    environment:
      HOST: ${HOST}
      DOMAIN: ${DOMAIN_SERVER}
      TG_BOT_NAME: ${TG_BOT_NAME}
      TG_TOKEN: ${TG_TOKEN}
    ports:
      - 3001:3000
    restart: unless-stopped

  prometheus:
    profiles: ["prometheus"]
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      # Main Prometheus config file (must exist on the HOST machine, e.g., created manually on the server)
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      # ↓↓↓ These are files stored on the HOST machine (outside the container)
      # They contain Grafana Cloud credentials and are mounted into Prometheus as secrets
      - ./secrets/grafana_username:/etc/prometheus/secrets/grafana_username:ro
      - ./secrets/grafana_password:/etc/prometheus/secrets/grafana_password:ro

volumes:
  db-data:
