Hello dear <%= @user.name %>!

To recovery password, click to link and add new password.

<br><a href="<%= set_new_password_form_url(@user.confirm_recovery_password_token) %>"><%= set_new_password_form_url(@user.confirm_recovery_password_token) %></a>
