Hello dear <%= @user.name %>!

Thanks for registering TIAE finance! To confirm your registration click the URL below.

<br><a href="<%= confirm_email_url(@user.confirm_token) %>"><%= confirm_email_url(@user.confirm_token) %></a>
