<div class="content is-large">
    <h1>Forgot password form</h1>
</div>

<%= form_for(:user, url: password_recovery_path) do |form| %>
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
      <%= form.email_field :email, class: "input", placeholder: "email@example.com" %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field is-grouped">
    <p class="control">
      <%= form.submit 'Sent instruction to email', class: "button is-link" %>
    </p>
    <p class="control">
      <%= link_to 'Back to home page'.html_safe, root_path, class: "button is-light" %>
    </p>
  </div>
  
<% end %>
