<section class="column is-half">
    <h1 class="title">Show form</h1>

    <div class="field">
        <label class="label">Name</label>
        <input class="input" type="text" placeholder="<%= @category.name %>" disabled>
    </div>

    <div class="field is-grouped">
        <p class="control">
          <%= back_to_list_button(categories_path({ page: cookies[:page], page_size: cookies[:page_size] })) %>
        </p>
    </div>
</section>
