<h1 class="title">Import Operations From Excel</h1>

<div class="content">
  <h2 class="title">Requirements</h3>
  <ol>
    <li>You can import your operations if they are in an excel file format .xls.</li>
    <li>You can dowload your operations from Tinkoff bank.</li>
    <li>You can also import transactions from another bank, but the excel file must contain 4 columns with specific names and these columns must be filled.</li>
    <li>1 column - 'Дата операции', 5 column - 'Сумма операции', 6 - 'Валюта операции', 10 - 'Категория' </li>
  </ol>
<end>

<div class="field is-grouped">
  <%= form_with url: create_opertaions_from_excel_path, multipart: true do %>
    <%= file_field_tag :operations,  class: "button is-link"%>
    <%= submit_tag "Upload",  class: "button is-success"%>
  <% end %>
  <p class="control">
    <%= link_to 'Back to list'.html_safe, operations_path, class: "button is-light" %>
  </p>
</div>
