<header>
    <h1>TIAE finance</h1>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
        <li>
            <%= link_to "Log out", logout_path, method: "delete" %>
        </li>
        </li>
    <% else %>
        <li><%= link_to "Log in", login_path %></li>
    <% end %>
</header>