<header>
    <h1>TIAE finance</h1>
    <%= button_to "Home", root_path, method: "get" %>
    <% if logged_in? %>
            <%= button_to "Log out", logout_path, method: "delete" %>
    <% else %>
        <%= button_to "Log in", login_path, method: "get" %>
    <% end %>
</header>
